/* > At-rules */
/* >> Imports */

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* > General styles */
/* >> Basic elements */

html { font-size: 16px; }
	 /* rem units are proportional to this value (default 16px) */

body { margin: 0; display: flex; flex-direction: column; height: 100%; }

h1, h2, h3, h4, h5, h6 { font-family: 'IBM Plex Sans', sans-serif; margin: 16px 0; }

p { font: 12pt 'Arimo', sans-serif; }

pre { font-family: monospace; }

ul {  }

ol {  }

li {  }

blockquote { margin-left: 20px; padding-left: 6px; border-left: solid 3px #007fff; font: italic smaller 'Helvetica', sans-serif; box-sizing: border-box; }

table {  }

tr, td {  }

a { font: medium 'Arimo', sans-serif; text-decoration: none; color: #00f; }

/* >> Sectioning elements */

header { text-align: left; color: white; background-color: black; width: 100%; margin: 0; 
		 flex: 0 1 auto; /* shorthand for: flex-grow: 0, flex-shrink: 1, flex-basis: auto */ }

nav { margin-left: 1em; overflow: hidden; }

menu {  }

main { margin: 0 1em; max-width: 76ch;
			  flex: 1 1 auto; }

aside {  }

article {  }

section {  }

footer { box-sizing: border-box; position: static; bottom: 0; text-align: right; padding-right: 16px; width: 100%;
		 flex: 0 1 auto; }

/* Styling elements */

div {  }

/* > Classses */
/* >> Utility classes */

.italic { font-style: italic; }

.bold { font-weight: bold; }

.mono { font-family: monospace; }

.small { font-size: x-small; }

.right { text-align: right; }

.middle { vertical-align: middle; } /* for images inline with text */

/* >> Shared classes */

.tag { font-size: 8pt; font-family:'Verdana', sans-serif; }

.nav-icon { float: left; }

.nav-item { float: left; padding: 15px; margin: 0; text-align: center; background-color: black; color: white; }

/* >> Page-specific classes */



/* > Specific selectors */

a:hover { text-decoration: underline; background-image: linear-gradient(-45deg, #00ffff, #00B5ff 25%, #0000ff); 			
		  -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

a:active { color: #00ffff; }

blockquote a { font: inherit; }

.tag a { font: italic 8pt 'Verdana', sans-serif; }

.tag a:hover { background: unset; color: #00b5ff; -webkit-text-fill-color: unset; }

p.nav-item {  }

a.nav-item { color: white; }

.nav-item:hover { background-color: white; }

p.nav-item:hover { color: black; }

a.nav-item:hover { color: black; padding: 15px; -webkit-text-fill-color: unset; background: white; }

img.nav-icon { margin: 8px 16px 8px 8px; }

div.nav-icon { background-image: url("images/tile.png"); height: 48px; width: 48px; }

div.nav-icon:hover { background-image: url("images/tile_blue.png") }