/* Recolours for homepage */

h1 { border-bottom-color: var(--col-extra); border-image: linear-gradient(-45deg, #00ffff, #00B5ff 25%, var(--col-extra) 50%) 1; }

a { color: var(--col-extra) }
a:hover { background-image: linear-gradient(-45deg, #00ffff, #00B5ff 25%, var(--col-extra)); }

blockquote p { border-image: linear-gradient(to top, #0ff, #00b5ff 20%, var(--col-extra)) 1; }

pre { border-image: linear-gradient(-45deg, #00ffff, #00b5ff 20%, var(--col-extra)) 1; }