/* Recolours for homepage */

h1 { border-bottom-color: var(--col-links); border-image: linear-gradient(-45deg, #00ffff, #00B5ff 25%, var(--col-links) 50%) 1; }

a { color: var(--col-links) }
a:hover { background-image: linear-gradient(-45deg, #00ffff, #00B5ff 25%, var(--col-links)) }

blockquote p { border-image: linear-gradient(to top, #0ff, #00b5ff 20%, var(--col-links)) 1; }

i.fa-li { color: var(--col-links); }